body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.brand-logo {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.header-info a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.main-content {
    padding: 40px;
    background-color: #fff;
}

.overlay {
    padding: 20px;
    background-color: darkgreen;
    color: #fff;
}

.footer-content {
    padding: 20px;
    background-color: darkgreen;
    color: #fff;
}

#users {
    text-align: center;
}
p{
    text-align: center;
}
